<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>MarineBuddy</title>
  <link rel="icon" href="/static/img/mb_icon1@4x.png" style="width:50px" type="image/x-icon"/>
  <!-- Leaflet CSS & JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
  integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
  crossorigin=""></script>
  
  <!-- Bootstrap -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!--d3 CDN-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/indexStyle.css">

  <!-- JSON file with countries -->  
  <script type="text/javascript" src="/static/js/countries.json"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/jquery.flexslider-min.js"></script>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Marine Buddy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a> -->
        <a class="nav-item nav-link" href="/countries">Country Search</a>
        <a class="nav-item nav-link" href="/marine-life">Marine Life Search</a>
        <a class="nav-item nav-link" href="/about">How Do We Do It?</a>
      </div>
    </div>
  </nav>
  <div id="topOfPage"></div>
    
  

   


  <div class="flexslider">
    <ul class="slides">
      <li>
        <img src="/static/img/slider-images/david-clode-576047-unsplash-min.jpg" />
      </li>
      <li>
        <img src="/static/img/slider-images/johnny-chen-77988-unsplash-min.jpg" />
      </li>
      <li>
        <!-- <p class="flex-caption">Text Over Slide 3</p> -->
        <img src="/static/img/slider-images/marek-okon-1398457-unsplash-min.jpg" />
      </li>
      <li>
        <!-- <p class="flex-caption">Text Over Slide 4</p> -->
        <img src="/static/img/slider-images/61Ewev.jpg" />
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>Scuba enthusiast Sara Hovakeemian, tide surfer Jesse Gray, and hydration connoisseur Mariaveronica Sayewich got together to bring Marine Buddy to life. </br></br> How, you ask?</p>
        <p> First, Sara scraped the following online marine species encyclopedias:</br>
            •	<a href="https://oceana.org/marine-life" target="_blank">Oceana</a></br>
            •	<a href="https://reefguide.org/index1.html" target="_blank">ReefGuide</a></br>                              
        </br>Then, when Sara gathered enough information, she ran API Calls to get info on all species gathered on <a href="https://www.iucnredlist.org/" target="_blank">IUCN Red List</a> to make sure that we would be able to wow our audience with relevant data as they search for new adventures.</br>  
        </br> While Sara deep-dived into her data and collected precious sea-pearls of information, Jesse worked his magic to make sure that you were able to search for marine life by country and by species and created the user-friendly website you see today.</br>
        <!--Sara's Schema Photo-->
        </br> The data was 'cleaned', modeled, and loaded into a SQL database as per the schema below.</br>
        <img class="schemaImg" src="/static/img/FinalProjectSchema.png"/>
        </br> Finally, Mariaveronica worked to make those underwater treasures sparkle. She went to <a href="https://www.ripleyaquariums.com/canada/" target="_blank">Ripley's Aquarium</a> to get photographs, and then used all of the HTML and visualization tools in her arsenal to make sure that you enjoyed every moment with Marine Buddy.</p>
      </div>
    </div>


    
    </div>
    <div class="footer">
      <p>Marine Buddy 2019</p>
    </div>
  <!-- API key -->
  <script type="text/javascript" src="/static/js/config.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>

  <!-- Our JS -->
  <!-- <script type="text/javascript" src="/static/js/logic_home.js"></script> -->
  <!-- <script type="text/javascript" src="/static/js/logic_home.js"></script> -->
  <!-- <script type="text/javascript" src="/static/js/logic_marinelife.js"></script> -->
  <script type="text/javascript" src="/static/js/logic_about.js"></script>
</body>
</html>
